
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

       /* FLEX SECTION */

.nav_flexbox{
    display: flex;
}

.header_flexbox{
    display: flex;
    flex-direction: column;
}

.header_menu_flexbox{
    display: flex;
    justify-content: center;
    width: auto;  
    margin: auto;
    
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}



.section_flexbox{
    display: flex;
    justify-content: center;
}

.ending_section_flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondary_footer_flexbox{
    display: flex;
    justify-content: space-between;
}


.container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.header_container{
    display: flex;
    justify-content: center;
}

.square_flexbox{
    display: flex;
}

.big_card_bottom_flexbox{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.footer_container_flexbox{
    display: flex;
    justify-content: center;
    width: 70%;
    margin: auto;
    flex-wrap: wrap;
}


       /* UTILITIES */




#header_container{
    background-color: #163cfa;
    

}

.fa-brands.fa-discord{
    color: blanchedalmond;
    font-size: 2rem;
}

#accedi{
    color: #255ee9;
    border: 1px solid white;
    border-radius: 8px;
    background-color: blanchedalmond;

}

#discord_logo{
    font-size: 1.2rem;
    font-family: 'Unbounded', cursive;
}


       .nav_link{
    padding: 0.3rem 4rem;
    text-decoration: none;
    font-weight: 400;
    color: blanchedalmond;
    text-align: center;
    line-height: 34px;
}


.app_header{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    box-shadow: 0 0 2rem #0a1894f3 ;
}

.header_menu{
    padding: 1rem;
  
}

.logo_login{
    font-size: 1rem ;
    line-height: 29px;
}



.sx_text{
    padding-left: 0.3rem;
    font-weight: 800;
    
}

.dx_text{
   text-align: center;
    padding: 2px 15px;
}

#header_section{
    align-self: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
    width: 50rem;
}

#the_place{
    font-size: 3rem;
    color: blanchedalmond;
}

#description{
    padding: 2rem 0;
    padding-bottom: 8rem;
    color: blanchedalmond;
    font-size: 1.2rem;
}


.btn_p{
    margin: 0.5rem;
    padding: 1rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 40px;
    border: none;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.btn_p_ending{
    margin: 0.5rem;
    padding: 1rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 40px;
    border: none;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    background-color: black;
    color: white;
}

.btn_black{
    color: white;
    background-color: black;
}

.grey_bg{
    width: auto;
    
}

.small_square{
    width: 50vh;
    float: left;  
}

.big_square{

    float: left;
    height: 50vh;
}

.img_size{
    flex-grow: 2;
}


.card_title{
    font-family: 'Roboto', sans-serif;
    font-size: 2.9rem;
    padding-top: 9vh;

}

.card_p{
    padding-top: 5vh;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;

}

.card_p2{
    padding-top: 5vh;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;

}

.card_title_bottom{
    font-family: 'Roboto', sans-serif;
    font-size: 1.9rem;
    text-align: center;
    padding-bottom: 4rem;

}


#stars{
    width: 100vh;
}

.main_padding{
   padding: 5rem 0rem;
}

.main_section_container{

    width: auto;
   

}

.first_section, .second_section{
    width: 1140px;
}

#ending_square{
    width: 200vh;
    display: flex;
    flex-direction: column;

}

.ending_img{
    width: 100%;
}

.card_top_text{
    text-align: center;
    width: 170vh;
    margin: auto;
}

.app_footer{
    height: auto;
    width: auto;
    background-color: #23272a;
    border-bottom: 2px solid black;
}


.footer_padding{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#left_col{
    align-self: center;
    float: left;
    flex-grow: 2;
}

.left_col_head{
    font-family: 'Roboto', sans-serif;
    color: #7289d9;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 6rem;
}


.col_1, .col_2, .col_3, .col_4{
    float: left;
}

.col_head{
    font-family: 'Roboto', sans-serif;
    color: #7289d9;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 6rem;
}


#primary_footer{
    align-self: center;
    border-bottom: 1px solid #7289d9;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.first_row{
    display: flex;
    justify-content: flex-start;

}

.p_row{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 6rem;
}

#italiano{
    display: inline-block;
    height: auto;
    align-self: center;
    padding: 1rem;
}

#freccia{
    align-self: center;
    padding: 1rem;
}

.icon_size{
    font-size: 2rem;
    padding: 1rem 1rem;
}

.no_dot{
    list-style: none;
}

.secondary_footer{
    margin: 0 28rem;
}

#col_container{
    float: left;
}


#secondary_footer_container{
    width: auto;
    padding-top: 3rem;
    font-family: 'Roboto', sans-serif;
}

#last-button{
    font-family: 'Roboto', sans-serif;
}